body {
    margin: 0;
    padding: 0 1.5rem;
    font-family: "Inter", sans-serif;
    background-color: #fff;
    padding-top: 0.5rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .content {
    padding: 40px;
    text-align: center;
}

.openModal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.openModal .content {
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem;
    width: 80vw;
    max-width: 600px;
    height: 40vh;
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.openModal .content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.openModal .content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}

.openModal .content ul li:hover {
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

header > div:last-of-type {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

header > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 7px;
}

header > div:first-of-type .document_title {
    outline: none;
    border: 2px solid transparent;
    font-size: 1.1rem;
    font-weight: 500;
    color: #343434;
    padding-left: 0.5rem;
    letter-spacing: 0.3px;
    transition: border 0.2s ease-in-out;
    border-radius: 4px;
}

header > div:first-of-type .document_title:focus {
    border: 2px solid #e6e6e6;
}

header > div:first-of-type img {
    width: 27px;
    padding-bottom: 0.15rem;
}

header > div:first-of-type h1 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: #343434;
    padding-left: 0.5rem;
    letter-spacing: 0.3px;
}

header > div:first-of-type .items {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-top: 0.2rem;
}

header > div:first-of-type .items button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.15rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    letter-spacing: 0.3px;
    color: #343434;
}

header > div:first-of-type .items p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: #7d7d7d;
    padding-left: 0.5rem;
    letter-spacing: 0.3px;
}

header > div:first-of-type .items button:hover {
    background-color: #e6e6e6;
}

header > div:last-of-type div p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
}

header > div:last-of-type div {
    position: relative;
}

header > div:last-of-type div img {
    border: 5px solid transparent;
    margin-left: -5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

header > div:last-of-type div.connected_user img {
    border: 4px solid transparent;
    width: 30px;
    height: 30px;
    margin-left: -5px;
}

header > div:last-of-type img:hover {
    cursor: pointer;
    border: 5px solid #e6e6e6;
}

header > div:last-of-type img:hover + p {
    opacity: 1;
    cursor: pointer;
}

.toolbar {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #e9edf5;
    overflow-x: auto;
    height: 50px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.toolbar::-webkit-scrollbar {
    display: none;
}

.toolbar > select,
.toolbar > button,
.toolbar > .input-wrapper {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: #343434;
    transition: background-color 0.2s ease-in-out;
    padding: 0.25rem 0.6rem;
    border-radius: 4px;
}

.toolbar > select {
    outline: none;
}

.toolbar > label {
    cursor: pointer;
}

.toolbar > .input-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.toolbar > .input-wrapper input {
    border: none;
    outline: none;
    background-color: transparent;
    height: 14px;
    width: 30px;
    padding: 0;
    border-radius: 4px;
    border-color: transparent;
}

.toolbar > input {
    display: none;
}

.toolbar > .input-wrapper > label {
    cursor: pointer;
}

.toolbar > .input-wrapper button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    letter-spacing: 0.3px;
    color: #343434;
}

.toolbar > select:hover,
.toolbar > button:hover,
.toolbar > .input-wrapper:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

.page_holder {
    background-color: #f9fbfd;
    overflow: auto;
    flex-grow: 1;
    padding: 0 1rem;
}

.page_holder .users_cursors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.page_holder #selection-preview {
    position: absolute;
    pointer-events: none;
    background-color: #e6e6e6;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 100;
}

.page_holder .users_cursors .cursor {
    position: absolute;
    pointer-events: none;
    align-items: center;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("./assets/paw_small.svg") no-repeat center center;
    background-color: transparent !important;
}

.page_holder .users_cursors .cursor p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 700;
    color: #343434;
    padding-left: 0.2rem;
    letter-spacing: 0.3px;
    position: absolute;
    top: 2px;
    left: 23px;
    pointer-events: none;
}

.page {
    background-color: #fff;
    border: 1px solid #b3b3b3;
    width: calc(75% - 14rem);
    max-width: 600px;
    min-width: 400px;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
    padding: 6rem 7rem;
    min-height: 100vh;
    height: auto;
    position: relative;
}

.page > div:first-of-type {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    border: none;
    outline: none;
    resize: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: #343434;
    margin: 0 auto;
    display: block;
    word-break: break-all;
}

.page .resizeable_div {
    resize: both;
    overflow: auto;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
}

.page img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.container {
    flex-grow: 1;
    padding: 0 1rem;
    position: relative;
}

.change_history {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    width: 280px;
    max-width: 90vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
}

.change_history h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: #343434;
    padding-left: 1rem;
    padding-top: 0.5rem;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

.change_history_close {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100vh;
    background-color: #cecece;
    cursor: e-resize;
}

.change_history #change-list {
    flex: 1;
    overflow: auto;
}

.comments {
    padding: 10px;
    padding-left: 20px !important;
    padding-top: 25px !important;
    position: relative;
    border-left: 2px solid #656565;
    display: flex;
    flex-direction: column;
}
/* Add a pseudo-element for the "Comments" title */
.comments::before {
    content: "Comments"; /* Set the content to "Comments" */
    color: #656565;
    left: 5px;
    top: 5px;
    position: absolute;
    font-size: 0.85rem;
    font-weight: 600;
}

.comments .comment-display:first-of-type {
    padding-top: 0px;
    border-top: 0px solid #cecece;
}

.comments .comment-display {
    border-top: 1px solid #cecece;
    padding: 5px 0px;
}

.comments .comment-timestamp {
    font-size: 0.65rem !important;
}

.comments .comment-timestamp::before {
    width: 5px !important;
    height: 5px !important;
    transform: translateY(-1.5px) !important;
}

.comment-div {
    display: flex;
    gap: 5px;
    margin-top: 9px !important;
    padding-right: 10px !important;
}

.comment-div textarea {
    flex: 4;
    border: 1px solid #cecece;
    border-radius: 4px;
    outline: none;
    padding: 6px 0.5rem;
    resize: none;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    color: #343434;
    height: 56px;
    margin: 0;
}

.comment-div button {
    width: 30px;
    margin: 0 !important;
}

.comment-div button i {
    color: #fff;
}

.comment-div button:hover {
    background-color: rgb(62, 172, 62) !important;
}

.change_history.open {
    transform: translateX(0);
}

.change_entry {
    padding: 15px 0px;
    padding-left: 1rem;
    border-top: 1px solid #cecece;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: #fff;
}

.change_entry:hover {
    background-color: #f2f2f2;
}

.change_entry:last-child {
    border-bottom: 1px solid #cecece;
}

.change_entry p:first-child {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0.3px;
}

.change_entry p:not(:first-child) {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
    margin-top: 3px;
    font-weight: 400;
    color: #2a2a2a;
    letter-spacing: 0.3px;
}

.change_entry p:nth-child(2):before {
    content: "";
    background-color: rgb(62, 172, 62);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    transform: translateY(-1px);
}

.change_entry * {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
    margin-top: 3px;
    font-weight: 400;
    color: #2a2a2a;
    letter-spacing: 0.3px;
    word-break: break-all;
}

.change_entry button {
    border: none;
    outline: none;
    background-color: rgb(96, 140, 238);
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    letter-spacing: 0.3px;
    color: #fff;
    padding: 0.15rem 0.5rem;
    margin-top: 10px;
}

.change_entry button:hover {
    background-color: rgb(172, 62, 62);
}
